.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 15px;
}

.flex-box {
  margin-left: 2px;
}

.flex-box:hover {
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.flex-date {
  background-color: #0097b9;
  color: #ffff;
  font-size: 22px;
}

.flex-temp {
  font-size: 22px;
}
/*# sourceMappingURL=style.css.map */