.flex-container
{
    display: flex;
    flex-direction: row;
    text-align: center; 
    margin-top: 15px;
}
.flex-box
{ 
   margin-left: 2px;
}

.flex-box:hover {
    box-shadow: 0 0 5px;
}

.flex-date 
{
    background-color:#0097b9;
    color:#ffff;
    font-size: 22px;
}
.flex-temp
{
    font-size: 22px;
}

