body{
    font-size: 20px;
}
.whole-site-param
{
    width: 39em;
    min-height: 30em;
    margin: auto
}
.flex-header-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.head-right
{
    display: flex;
    flex-direction: row;
}
.head
{ 
    margin: auto;
    display: table;
    border-style: solid;
}
.user-photo span
{
    float: right;
    margin: 1em 0 0 5px;
}
.user-photo img
{
    width: 64px;
     height: 64px;
}
.flex-header-right
{
    margin: -20px 20em 0px 0px;
}
.table
{
    align-items: center;
}
.table-titles
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    /* padding: 0em 4em 0 3em; */
}
.footer
{
    margin: auto;
    text-align: center;
}
.table-group
{
    font-size: 25px;
    margin: 10px 0 10px 0 ;
}
.table-block
{
    height: 27em;
    overflow: scroll;
}