
.content
{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}



.author_box
{
  flex: 0 0 26em;
}
.introduction
{
  margin:auto;
  display: table;
  padding: 0px 0px 0px 31em;
}
.summary-h2
{
  margin: auto;
  display: table;
  padding: 0 0em 0px 0px;
}

.list-titles span
{
  float: right;
  padding-left: 1em;
}
.list-titles li
{
  margin-bottom: 8px;
}

.summary-current-content
{
  width: 37em;
  padding: 0px 0 0 24em;
  font-size: 17px;
}
 .page-desc
{
  text-align: center;
  padding-left: 63em;
} 
.p1 {
  padding-right: 5em;
}
.p2 li
{
  padding-left: 20px;
}
.p3 li
{
  list-style: none;
}



